@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8f8f8;

  --foreground: #000000;
  --foreground-muted: #10101080;

  --accent: #ffbe98;
  --accent-foreground: #622247;
  --accent-background: #5b35470c;
  --accent-border: #5b354722;

  --glass: #ffffff9f;

  --glow-gradient: radial-gradient(
    circle,
    #ffbe9830 0%,
    #ffbe9820 30%,
    transparent 60%
  );
}

.dark {
  --background: #231d21;

  --foreground: #f8f8f8;
  --foreground-muted: #f8f8f8c0;

  --accent: #99547c;
  --accent-foreground: #ffbe98;
  --accent-background: #ffbe9812;
  --accent-border: #ffbe9822;

  --glass: #ffffffbf;

  --glow-gradient: radial-gradient(
    circle,
    #99547c20 0%,
    #99547c10 30%,
    transparent 60%
  );
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-background: var(--accent-background);
  --color-accent-border: var(--accent-border);

  --color-glass: var(--glass);

  --background-image-glow-gradient: var(--glow-gradient);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-bagnard);
  --font-mono: var(--font-fira-mono);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes ping-subtle {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
